.form button:hover {
    background-color: #ff9147;
    transition: 0.5s;
    color: black;
}


.link_button{
    display:inline-block;
    text-decoration:none;
    font-size:20px;
    color:#ff6347;
    transition-duration:0.5s;
    border-bottom:none;
    padding-bottom:0;
}

.link_button:hover{
    color:black;
    padding-bottom:5px;
    background-color: #ff9147;
    transform: scale(1.1);
    border-bottom:2px solid black;
}
.navbar {
    background-color: #4d4d4d;
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px
}
.form {
    padding: 100px;
    margin: 100px auto 100px;
    background: #FFFFFF;
    text-align: center;
    max-width: 360px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: Verdana, sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition-duration: 0.5s;
}


.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main:first-child {
    margin-top: 0;
}


.form button {
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.form input:hover{
    background-color: #A9A9A9;
}

.form button:hover {
    background-color: #ff9147;
    color: black;
}


body {
    background: #262626; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    margin: 0;
}