<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css_styles/acc_style.css">
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<nav class="navbar">
    <a href="login.html" class="link_button">Login</a>
    <a href="#" class="link_button">Logout</a>
    <a href="acc-reg.html" class="link_button">Sign up</a>
    <a href="acc.html" class="link_button">Account</a>
</nav>
<main class="main">
    <form class="form">
        <img src="../img/logo.png" alt="site logo" class="logo">
    <h1>Your profile</h1>
    <div>
      <h2>General Info</h2>
        <p>username:   </p>
        <p>first name:   </p>
        <p>last name:   </p>
    </div>
    <div>
        <h2>Contact Info</h2>
        <p>email:     </p>
        <p>number:    </p>
    </div>
    <a href="acc-edit.html" class="edit_button">Edit account</a>
    </form>
</main>
</body>
</html>
