<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css_styles/login.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<nav class="navbar">
    <a href="login.html" class="link_button">Login</a>
    <a href="login.html" class="link_button">Logout</a>
    <a href="acc-reg.html" class="link_button">Sign up</a>
    <a href="acc.html" class="link_button">Account</a>
</nav>
<main class="main">

    <form class="form">
        <h1>Sign in</h1>
        <div>
            <label>
                <input placeholder="Enter username">
            </label>
            <label>
                <input placeholder="Enter password">
            </label>
            <div>
        <a href="acc.html">
            <button>login</button>
        </a></div>

        </div>
    </form>
    <a href="acc-reg.html" class="sign_button">Don't have an account? - Sign up!</a>
</main>
</body>
</html>